.galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espacio entre las imágenes */
  }
  
  .galeria-container img {
    width: calc(25% - 20px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }