.photo-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .photo-item {
    width: calc(33.333% - 20px); /* Ajusta el ancho según sea necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .photo {
    width: 100%;
    height: auto;
    display: block;
  }